.media-btn {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
    width: 50%;
    height: 55px;
    background-color: #FAF6F3;
    border-radius: 2px;
    border: .3px solid darken($color: #FAF6F3, $amount: 2);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.10);
    transition: box-shadow .3s ease;

    .media-icon-wrapper {
        position: absolute;
        width: 40px;
        height: 55px;
        border-radius: 2px;
        background-color: $white;
    }
    .media-icon {
        position: absolute;
        margin-top: 16px;
        margin-left: 9px;
        width: 23px;
        height: 23px;
    }
    .media-btn-text {
        float: right;
        margin: 18px 40px 0 0;
        color: lighten($color: $black, $amount: 30);
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    transition: box-shadow .3s ease;
    &:hover {
        transition: box-shadow .3s ease;
        box-shadow: 0 0 10px lighten($color: $primary, $amount: 6);
    }

}
